.settings-container{

padding:30px;

}



.settings-card{

background:white;

padding:30px;

border-radius:20px;

max-width:600px;

box-shadow:0 8px 25px rgba(0,0,0,0.1);

}



.setting-row{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 0;

border-bottom:1px solid #ddd;

}



.toggle{

position:relative;

width:50px;

height:25px;

}



.toggle input{

display:none;

}



.toggle span{

position:absolute;

width:50px;

height:25px;

background:#ccc;

border-radius:20px;

cursor:pointer;

}



.toggle input:checked + span{

background:#4CAF50;

}



.logout-button{

margin-top:25px;

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:#ff4d4d;

color:white;

font-size:18px;

cursor:pointer;

}