.auth-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#6366f1,
#a855f7
);

}



.auth-card{

background:white;

width:400px;

padding:40px;

border-radius:25px;

box-shadow:
0 20px 50px rgba(0,0,0,0.15);

text-align:center;

}



.auth-card h1{

color:#6366f1;

}



.auth-card h2{

margin-top:15px;

}



.auth-card input{


width:100%;

padding:14px;

margin:12px 0;

border-radius:12px;

border:1px solid #ddd;

}



.auth-card button{


width:100%;

padding:14px;

background:#6366f1;

color:white;

border:none;

border-radius:12px;

font-weight:700;

cursor:pointer;

}



.auth-card button:hover{

background:#4f46e5;

}



.auth-card a{

color:#6366f1;

font-weight:600;

text-decoration:none;

}